Source: novnc
Section: web
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 10),
               dh-python,
               openstack-pkg-tools,
               python-all,
Build-Depends-Indep: python-greenlet,
Standards-Version: 3.9.8
Vcs-Browser: https://git.openstack.org/cgit/openstack/deb-novnc?h=debian%2Fnewton
Vcs-Git: https://git.openstack.org/openstack/deb-novnc -b debian/newton
Homepage: https://github.com/kanaka/noVNC

Package: novnc
Architecture: all
Depends: adduser,
         libjs-swfobject,
         python,
         python-novnc,
         python-numpy,
         websockify,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
Recommends: python-nova,
Description: HTML5 VNC client - daemon and programs
 noVNC is a HTML5 VNC (WebSockets, Canvas) with encryption (wss://) support
 client that runs well in any modern browser including mobile browsers
 (iPhone/iPad and Android). More than 16 companies/projects have integrated
 noVNC into their products including Ganeti Web Manager, OpenStack, and
 OpenNebula.
 .
 This package contains the daemon and programs.

Package: python-novnc
Architecture: all
Section: python
Depends: python,
         python-oslo.config,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends},
Recommends: python-nova,
Description: HTML5 VNC client - libraries
 noVNC is a HTML5 VNC (WebSockets, Canvas) with encryption (wss://) support
 client that runs well in any modern browser including mobile browsers
 (iPhone/iPad and Android). More than 16 companies/projects have integrated
 noVNC into their products including Ganeti Web Manager, OpenStack, and
 OpenNebula.
 .
 This package installs the core Python parts of NoVNC.
